
.besar {
font-size: 26px;
}
/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 2em 0;
}

header h1 {
  margin: 0;
}

.about, .services, .contact {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
text-align: justify; /* Ini akan membuat teks rata kanan-kiri */
}

.about {
  background-color: #f9f9f9;
}

.services {
  background-color: #f1f1f1;
}

.contact {
  background-color: #e9e9e9;
}

h2 {
  color: #333;
}

ul {
  list-style-type: square;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 20px;
}
